{% extends 'enfantBase.html.twig' %}

{% block title %} Bonjour {{user}} {% endblock %}

{% block bodyclass %} class="page-index" {% endblock %}
{% block hidden %} hidden {% endblock %}

{% block body %}
    <a href="{{ path('enfant_calendrier') }}">
        <div class="row calendrier">
            <div class="col-md-4 col-md-offset-2 col-xs-4 col-xs-offset-2">
                <img src="{{ asset('img/index/calendar130x130.png') }}" alt="calendar" class="calendar img-responsive" />
            </div>
            <div class="col-md-4 col-xs-4">
        	   <h1>Calendrier</h1>
            </div>
        </div>
    </a>
    <a href="{{ path('enfant_contrat') }}">
        <div class="row contrat">
            <div class="col-md-4 col-md-offset-2 col-xs-4 col-xs-offset-2">
        	   <img src="{{ asset('img/index/cubes130x130.png') }}" alt="cubes" class="cubes img-responsive" />
            </div>
            <div class="col-md-4 col-xs-4">
            	<h1>Contrat</h1>
            </div>
        </div>
    </a>
    <a href="{{ path('enfant_planning') }}">
        <div class="row planning">
            <div class="col-md-4 col-md-offset-2 col-xs-4 col-xs-offset-2">       	
        	   <img src="{{ asset('img/index/list130x130.png') }}" alt="list" class="list img-responsive" />
            </div>
            <div class="col-md-4 col-xs-4">
        	   <h1>Planning</h1>
            </div>
        </div>
    </a>
{% endblock body %}