{% extends 'enfantBase.html.twig' %}

{% block title %}
	Planning En Cours
{% endblock title %}

{% block bodyclass %}
	class="page-planningencours"
{% endblock bodyclass %}

{% block body %}
	<div class="row temps">
		<div class="col-md-offset-5">
			<span class="temps" id="minute">0</span>
			<span class="temps">:</span>
			<span class="temps" id="seconde">0</span>
		</div>
	</div>
	<div class="row images">
		<div class="col-md-offset-5 col-md-1">
			<img src="{{ asset('img/planning/play-button64.png') }}" alt="play" class="image play img-responsive" id="play" />
			<img src="{{ asset('img/planning/pause64.png') }}" alt="pause" class="image pause img-responsive" id="pause" style="display:none;" />
		</div>
		<div class="col-md-1">
			<img src="{{ asset('img/planning/stop64.png') }}" alt="stop" class="image stop img-responsive" id="stop" />
		</div>
	</div>
	<div class="corbeille">
		<img src="{{ asset('img/planning/waste-bin128.png') }}" alt="corbeille" class="img-responsive" />
	</div>
	{% for e in planning.sequence.etapes %}
		<div class="row">
			<div class="col-md-offset-2 col-md-6 etape">
				<div class="row">
					<div class="col-md-1 col-color">
					</div>
					<div class="col-md-offset-1 col-md-3">
						<img src="{{ asset('img/etape/') }}{{e.image}}" alt="etape" width="100" height="100" class="img-etape img-responsive" />
					</div>
					<div class="col-md-7">
						<h3>{{e.libelle}}</h3>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
{% endblock body %}

{% block javascripts %}
	<script>
		// initialise les dixièmes
		var dixieme = 0;
		// initialise les secondes
		var seconde = 0;
		// initialise les minutes
		var minute = 0;

		var spanSeconde = document.getElementById('seconde');
		var spanMinute = document.getElementById('minute');

		function play(){
			// incrémentation des dixièmes de 1
			dixieme++;

			// si les dixièmes > 9, on les réinitialise à 0 et on incrémente les secondes de 1
			if (dixieme > 9) {
				dixieme = 0;
				seconde++;
			} 

			// si les secondes > 59, on les réinitialise à 0 et on incrémente les minutes de 1
			if (seconde > 59) {
				seconde = 0;
				minute++;
			} 
			

			// on affiche les secondes
			spanSeconde.textContent = seconde;
			// on affiche les minutes
			spanMinute.textContent = minute;
			// la fonction est relancée toutes les 10° de secondes
			compte = setTimeout('play()', 100);
		}

		// fonction qui remet les compteurs à 0
		function stop(){ 
			//arrête la fonction play()
			clearTimeout(compte) ;
			dixieme = 0;
			seconde = 0;
			minute = 0;
			spanSeconde.textContent = seconde;
			spanMinute.textContent = minute;
		}


		$('#play').click(function(){
			$('#play').hide();
			$('#pause').show();
			play();
		});

		$('#pause').click(function(){
			$('#pause').hide();
			$('#play').show();
			clearTimeout(compte);
		});

		$('#stop').click(function(){
			stop();
			$('#pause').hide();
			$('#play').show();
		});

	</script>
{% endblock javascripts %}