{% extends 'enfantBase.html.twig' %}

{% block title %}
	Planning En Cours
{% endblock title %}

{% block bodyclass %}
	class="page-planningencours"
{% endblock bodyclass %}

{% block body %}
	<div class="row dropzone">
		<div class="col-md-12 corbeille thiner">
			<img src="{{ asset('img/planning/waste-bin24.png') }}" alt="corbeille" class="img-corbeille img-responsive" />
		</div>
	</div>
	
	<div class="row temps">
		<span class="temps" id="heure">00</span><span class="temps">:</span><span class="temps" id="minute">00</span><span class="temps">:</span><span class="temps" id="seconde">00</span>
		<div class="images">
			<img src="{{ asset('img/planning/play-button64.png') }}" alt="play" class="image play img-responsive" id="play" />
			<img src="{{ asset('img/planning/pause64.png') }}" alt="pause" class="image pause img-responsive" id="pause" style="display:none;" /><img src="{{ asset('img/planning/stop64.png') }}" alt="stop" class="image stop img-responsive" id="stop" />
		</div>
	</div>

	{{form(form)}}

	<div class="row musique">
		<audio src="{{ asset('music/') }}{{planning.sequence.musique}}" controls loop preload="auto"></audio>
	</div>

	{% for e in planning.sequence.etapes %}
		{% if loop.first %}
			<div class="row etapes draggable">
				<div class="col-md-offset-1 col-md-8 etape">
			{% else %}
			<div class="row etapes">
				<div class="col-md-offset-2 col-md-6 etape">
			{% endif %}
				<div class="row">
					{% if loop.first %}
					<div class="col-md-1 col-color-first">
					</div>
					{% else %}
					<div class="col-md-1 col-color">
					</div>
					{% endif %}
					<div class="col-md-offset-1 col-md-3">
						{% if loop.first %}
							<img src="{{ asset('img/etape/') }}{{e.image}}" alt="etape" width="120" height="120" class="img-etape img-responsive" />
						{% else %}
							<img src="{{ asset('img/etape/') }}{{e.image}}" alt="etape" width="100" height="100" class="img-etape img-responsive" />
						{% endif %}
					</div>
					<div class="col-md-7">
						<h3>{{e.libelle}}</h3>
					</div>
				</div>
			</div> <!-- div class="etape" -->
		</div> <!-- div class="etapes" -->
	{% endfor %}

	<div class="row message-ko" id="message">
		<span>Bravo ! Tu as fini ton planning ! ;-)</span>
		<br />
		<button class="btn">Enregistrer</button>
	</div>
{% endblock body %}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('js/chrono.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/interact.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/draganddrop_planning.js') }}"></script>
{% endblock javascripts %}